In [9]:
import numpy as np
import pandas as pd
from sklearn. model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [10]:
#The method takes a list of text documents as input, and returns a sparse matrix representation of the TF-IDF scores for each document
# feature of extraction technique commondly used natural language processing (NLP), Text mining task. TF id task for collection of text document into numerical value that machine learning can use
# it work binaryclassification problem where target variable has two classes
# it uses to evaluae the model performance

In [13]:
df = pd.read_csv('mail_data.csv')

In [14]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [130]:
#replace the null value to nullstring

In [131]:
data = df.where(pd.notnull(df), '') #all the values are replaced with a Boolean value True for NOT NULL values, and otherwise False

In [16]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [ ]:
#data.loc[data['Category']=='spam', 'Category',] =0
#data.loc[data['Category']=='ham', 'Category',] =1

In [93]:
data['Category'] = data['Category'].replace({'spam': 0, 'ham': 1})

In [94]:
X = data['Message']
Y= data['Category']

In [95]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [96]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [97]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state =42)

In [98]:
X_train.shape, X_test.shape

((4457,), (1115,))

In [99]:
Y_train.shape, Y_test.shape

((4457,), (1115,))

In [100]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

Y_train = Y_train.astype(int)
Y_test = Y_test.astype(int)

In [101]:
print(X_train)

1978    Reply to win Â£100 weekly! Where will the 2006 ...
3989    Hello. Sort of out in town already. That . So ...
3935     How come guoyang go n tell her? Then u told her?
4078    Hey sathya till now we dint meet not even a si...
4086    Orange brings you ringtones from all time Char...
                              ...
3772    Hi, wlcome back, did wonder if you got eaten b...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860               Did he just say somebody is named tampa
Name: Message, Length: 4457, dtype: object

In [102]:
print(X_train_features)

  (0, 5818)	0.22682143517864364
  (0, 2497)	0.2442158912653505
  (0, 694)	0.3171299579602537
  (0, 6264)	0.1898892037332199
  (0, 5800)	0.17558937755823417
  (0, 3262)	0.33791755486732394
  (0, 2049)	0.3034375179183143
  (0, 7300)	0.24288153842988894
  (0, 2724)	0.3544175987866074
  (0, 354)	0.3544175987866074
  (0, 7162)	0.2550284465664535
  (0, 258)	0.2379428657041507
  (0, 7222)	0.2173884735352799
  (0, 5512)	0.1898892037332199
  (1, 2555)	0.3840709491751004
  (1, 3804)	0.1902902346515268
  (1, 3932)	0.24325511357721427
  (1, 4509)	0.4028245991060671
  (1, 2440)	0.33870544648398715
  (1, 3333)	0.20665394084233096
  (1, 5650)	0.360444144470318
  (1, 2335)	0.2162321275166079
  (1, 6738)	0.28986069568918
  (1, 6109)	0.3239762634465801
  (1, 3267)	0.2678713077029217
  :	:
  (4452, 2438)	0.4574160733416501
  (4452, 7280)	0.3968991650168732
  (4452, 3978)	0.4574160733416501
  (4452, 3290)	0.26370969643076225
  (4452, 3084)	0.22948428918295163
  (4452, 2236)	0.2676662072392096
  (4453, 3874)	0.6064947019588056
  (4453, 4004)	0.5244851817485773
  (4453, 6108)	0.5975612693457145
  (4454, 6113)	0.4465347909835087
  (4454, 6114)	0.4465347909835087
  (4454, 5149)	0.43410473161397095
  (4454, 5409)	0.4079234999314281
  (4454, 3249)	0.3182708584577292
  (4454, 2893)	0.38087861810984514
  (4455, 5815)	0.5332274226200294
  (4455, 3691)	0.5541750775894743
  (4455, 4660)	0.4924788339394118
  (4455, 6686)	0.40745931976870786
  (4456, 4518)	0.5364209818026567
  (4456, 6078)	0.46545159250664164
  (4456, 6467)	0.48168628392630153
  (4456, 5719)	0.3276287995831882
  (4456, 2236)	0.31389751705425334
  (4456, 3720)	0.24023610815826446

In [103]:
model = LogisticRegression()

In [104]:
model.fit(X_train_features, Y_train)

LogisticRegression()

In [105]:
prediction_on_training_data = model.predict(X_train_features)

In [106]:
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data )

In [107]:
print('Accuracy on Training data is:', accuracy_on_training_data)

Accuracy on Training data is: 0.9661207089970832

In [109]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_testing_data = accuracy_score(Y_test, prediction_on_test_data)

In [110]:
print('Accuracy on Testing data is:', accuracy_on_testing_data)

Accuracy on Testing data is: 0.967713004484305

In [91]:
y_train.shape, y_test.shape

((4457,), (4457,))

In [80]:
Y_train.shape, prediction_on_training_data.shape

((4457,), (4457,))

In [127]:
input_mail = ['Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&Cs apply 08452810075over18s']
# convert text feature section
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)

In [128]:
print(prediction)

[0]

In [129]:
if(prediction[0]==1):
    print('Ham mail')
else:
    print('spam mail')

spam mail